* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dine-delight {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.logo {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo img {
    height: auto;
    width: 100%;
}

.hero-search-bar {
    width: max-content;
    display: flex;
    justify-content: center;
}



.hero-search-bar input {
    height: 1.5rem;
    width: 20rem;
    border-top: 1px solid #E53B00;
    border-bottom: 1px solid #E53B00;
    border-left: 1px solid #E53B00;
    border-right: none;
    outline: none;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    font-size: 1rem;
}

.hero-search-bar i {
    font-size: 1.5rem;
    padding: 10px;
    height: 1.5rem;

    border-top: 1px solid #E53B00;
    border-bottom: 1px solid #E53B00;
    border-right: 1px solid #E53B00;
    border-radius: 0px 10px 10px 0px;
    
}

.user-profile {
    display: flex;
    background-color: #E53B00;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.user-profile a {
    color: white;

    text-decoration: none;
    font-size: 1.1rem;

}

.nav-menu a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px;
    font-weight: 550;
}

/* 
hero section style  */
.hero-section {
    height: 85vh;
    display: flex;
   gap: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 3rem;
}
.hero-heading h1{
font-size: 3rem;

}
.hero-heading p{
    font-size: 2rem;
}

.hero-location {
    display: flex;
    gap: 3rem;

}

.location {
    width: max-content;
    display: flex;
    align-items: center;
}

.location i {
    height: 1.5rem;
    font-size: 1.5rem;
    color: #E53B00;
    padding: 10px;
    border-top: 1px solid #E53B00;
    border-bottom: 1px solid #E53B00;
    border-left: 1px solid #E53B00;
    border-radius: 10px 0px 0px 10px;
}

.location input {
    height: 1.5rem;
    width: 20rem;
    border-top: 1px solid #E53B00;
    border-bottom: 1px solid #E53B00;
    border-right: 1px solid #E53B00;
    border-left: none;
    outline: none;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    font-size: 1rem;
}